/******************* Nav related CSS *******************/

nav{
    border: 1px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: rgb(111, 30, 133);  
}

#LeftText {
    display: inline-block;
    color: white;
    font-size: x-large;
    padding-left: 25px;
    padding-right: 25px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

#NavLinks{
    font-size: x-large;
    display: inline-block;
    float: right;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding: 25px;
}

#NavLinks a:link{
    color: white;
    text-decoration: none;
}

#NavLinks a:visited{
    color: white;
    text-decoration: none;
}

#NavLinks a:hover{
    color: cornflowerblue;
    text-decoration: none;
}

#NavLinks a:active{
    color: black;
    text-decoration: none;
    border-bottom: 5px;
    border-style: dotted;
    border-color: black;
}

/******************* Body related CSS *******************/

body {
    background-color: cornflowerblue;
}

.header h1 {
    text-align: left;
    padding-left: 25px;
    font-size: 50px;
}

.header img {
    width: 600px;
    height: auto;
    float: right;
    padding-right: 25px;
}

p.info {
    padding-left: 25px;
    font-size: 40px;
}

p.quote {
    padding-left: 25px;
    padding-right: 850px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

footer {
    background-color: rgb(111, 30, 133);
    color: white;
    font-size: x-large;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding-left: 25px;
}


.header2 h1 {
    text-align: left;
    padding-left: 25px;
    font-size: 50px;
    text-align: center;
}

hr {
    border-color: rgb(111, 30, 133);
}

h2 {
    padding-left: 25px;
    font-size: xx-large;
}