/******************* Nav related CSS *******************/

nav{
    border: 1px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: rgb(111, 30, 133);  
}

#LeftText {
    display: inline-block;
    color: white;
    font-size: x-large;
    padding-left: 25px;
    padding-right: 25px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

#NavLinks{
    font-size: x-large;
    display: inline-block;
    float: right;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding: 25px;
}

#NavLinks a:link{
    color: white;
    text-decoration: none;
}

#NavLinks a:visited{
    color: white;
    text-decoration: none;
}

#NavLinks a:hover{
    color: cornflowerblue;
    text-decoration: none;
}

#NavLinks a:active{
    color: black;
    text-decoration: none;
    border-bottom: 5px;
    border-style: dotted;
    border-color: black;
}

/******************* Body related CSS *******************/

body {
    background-color: cornflowerblue;
}

.header h1 {
    text-align: left;
    padding-left: 25px;
    font-size: 50px;
}

.header img {
    width: 600px;
    height: auto;
    float: right;
    padding-right: 25px;
}

p.info {
    padding-left: 25px;
    font-size: 40px;
}

p.quote {
    padding-left: 25px;
    padding-right: 850px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

footer {
    background-color: rgb(111, 30, 133);
    color: white;
    font-size: x-large;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding-left: 25px;
}


.header2 h1 {
    text-align: left;
    padding-left: 25px;
    font-size: 50px;
    text-align: center;
}

/******************* About Pg related CSS *******************/

hr {
    border-color: rgb(111, 30, 133);
}

h2 {
    padding-left: 25px;
    font-size: xx-large;
    color: black;
}

p.text {
    padding-left: 25px;
    font-size: 40px;
    padding-right: 25px;
}

img.weights {
    float: right;
    width: 650px;
    padding-right: 25px;
    padding-top: 35px;
    padding-left: 25px;
}

img.music {
    width: 650px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    float: left;
}

h2.two {
    padding-right: 25px;
    font-size: xx-large;
    color: black;
    text-align: right;
    float: right;
}

p.text2 {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 40px;
    text-align: left;
    padding-top: 60px;
}

img.hiking {
    float: right;
    width: 650px;
    padding-right: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

/******************* Portfolio Pg related CSS *******************/

h1.portfolio {
    text-align: center;
    padding-left: 25px;
    font-size: 50px;
}

h2.FBA {
    padding-left: 25px;
    font-size: xx-large;
    color: black;
}

img.Ecom1 {
    width: 500px;
    float: right;
    padding-right: 25px;
    padding-left: 25px;
}

img.Ecom2 {
    width: 411px;
    float: right;
    padding-left: 25px;
}

img.Ecom3 {
    width: 100px;
    float: right;
}

img.ig {
    width: 500px;
    float: right;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
}

a:link.FBA {
    color: white;
}

a:visited.FBA {
    color: white;
}

a:hover.FBA {
    color: #FF9900
}

a:active.FBA {
    color: black;
    border-bottom: 5px;
    border-style: dotted;
    border-color: black;
}

a:link.insta {
    color: white;
    float: right;
    padding-right: 75px;
}

a:visited.insta {
    color: white;
}

a:hover.insta {
    color: #E1306C;
}

a:active.insta {
    color: #405DE6;
    border-bottom: 5px;
    border-style: dotted;
    border-color: black;
}

h2.third {
    text-align: center;
    padding-left: 25px;
    font-size: xx-large;
}

/******************* Contact Pg related CSS *******************/

form {
    font-size: x-large;
    color: black;
    font-weight: bold;
    padding: 25px;
    display: inline-block;
    margin-left: 550px;
}

input.reg {
    width: 565px;
    height: 30px;
    border: 2px;
    border-style: solid;
    border-color: black;
    font-size: 18px;
}

input:hover {
    background-color: wheat;
}


textarea {
    border: 2px;
    border-style: solid;
    border-color: black;
    font-size: 18px;
}

textarea:hover {
    background-color: wheat;
}


label {
    font-size: xx-large;
}

button {
    border: black 2px solid;
    background-color: rgb(111, 30, 133);
    color: cornflowerblue;
    font-weight: bold;
    font-size: x-large;
}

button:hover {
    background-color: wheat;
}

h2.headerlink {
    padding-left: 25px;
    font-size: xx-large;
    color: black;
}




